.metamask-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;

	&:hover * {
		color: #000;
	}
}

.wallet-text {
	font-size: 15px;
	color: #ffffff;
	font-weight: bold;
}

.metamask-image {
	width: 25px;
	height: 25px;
	margin-right: 0.5rem;
}

.metamask-image-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.wallet-connected {
	color: #ffffff;
	font-size: 14px;
}
