html,
body {
	overscroll-behavior: none;
	overflow: overlay;
	padding: 0;
	margin: 0;
	background: rgb(3, 148, 255);
	background: linear-gradient(
		20deg,
		rgba(3, 148, 255, 1) -5%,
		rgba(2, 0, 65, 1) 25%,
		rgba(2, 0, 65, 1) 80%,
		rgba(254, 0, 160, 1) 110%
	);
}

.no-scroll {
	overflow: hidden;
	max-height: 100vh;
}

.btn {
	border-radius: 10rem;
}

/**************************************REUSABLES**************************************/

/*****************************NAVBAR*****************************/

.navbar-wrapper {
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.5rem 0;
	margin: 0 auto;
	margin-bottom: 2rem;

	.logo {
		color: white;
		font-weight: 400;
	}

	.menu-button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		color: white;
		border: 2px solid white;
		border-radius: 2rem;
		padding: 0.6rem 3rem;
	}
}

.sidebar-background-blur {
	z-index: 50;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: #000000, $alpha: 0.3);
	backdrop-filter: blur(8px);

	animation: fade-in 0.2s normal ease-out;

	&.closing {
		transition: 0.2s ease-in;
		opacity: 0;
	}
}

.sidebar-container {
	z-index: 50;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	min-width: 20rem;
	backdrop-filter: blur(30px);
	padding: 4rem 3rem;
	background-color: rgba($color: #fff, $alpha: 0.1);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

	animation: slide-in 0.3s normal cubic-bezier(0.165, 0.84, 0.44, 1);

	&.closing {
		transition: 0.2s ease-in;
		transform: translate(100%, 0);
	}

	.sidebar-btn-containers {
		margin-top: 3rem;
		.link-btn {
			margin: 0.5rem 0;
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-in {
	from {
		transform: translate(100%, 0);
	}
	to {
		transform: none;
	}
}

/**********************************SCROLLBAR**********************************/

/* width */
::-webkit-scrollbar {
	width: 9px;
	margin-right: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
