.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    height: auto;
    color: #fff;
    justify-content: center;
    align-items: center;
}
